.main-profile {
  background-color: rgb(212, 205, 205);
  height: 100vh;
  padding: 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-profile section {
  margin: 20px;
}

.info-user-text {
  margin: 0px;
}

.div-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#btn {
  width: 200px;
  padding: 3px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(212, 205, 205);
  background-color: #ff0808;
  border-color: #ff0808;
  transition:
    background-color, 0.5s color, 0.5s;
}

#btn:hover {
  background-color: #ef4646;
  color: #1b1b1b;
}

.admin-option {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fecha_endulzada {
  background-color: rgb(212, 205, 205);
  border-style: none;
}

.fecha_descubrimiento {
  background-color: rgb(212, 205, 205);
  border-style: none;
}

.btnPerfil{
  text-decoration: none;
  color: rgb(0, 0, 0);  
  transition: 1s;
  background-color:rgb(212, 205, 205);
  border-style: none;
  border-radius: 15px;
  padding: 8px 15px;
}

.btnPerfil:hover{
  background-color: red;
  border-radius: 15px;
  padding: 8px 40px;
  color: #fff;  
}

.cajitaDeEnviado {
  border:1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 8px 40px;
  color: #fff;
  padding: 30px;
  margin:20px 0px;
}

.mensajeDeNoHayNadieEnDb {
  color: #ff0808;
  font-weight: 700;
  font-size: 20px;
}