.register-main {
    background-color: rgb(212, 205, 205);
  }
  
  .section-register {
    padding-top: 20px;
    width: 100%;
    color: #1b1b1b;
    background-color: rgb(212, 205, 205);
    height: auto;
  }
  
  .control-form {
    margin-bottom: 15px;
  }
  
  .control-form label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
  }
  
  .title-register {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .control {
    color: #1b1b1b;
    background-color: rgb(212, 205, 205);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #1b1b1b;
    outline: none;
    padding: 8px;
    width: 100%;
  }
  
  .btn-div {
    display: flex;
    justify-content: center;
  }
  
  #btn-register {
    padding: 8px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    background-color: #ff0808;
    border-color: #ff0808;
    margin-bottom: 30px;
    transition:
      background-color, 1s color, 1s;
  }
  
  #btn-register:hover {
    padding: 8px 40px;
    background-color: #ef4646;
    color: #1b1b1b;
  }

  @media only screen and (min-width: 768px) {

    /* REGISTRO */

    #register-main {
        margin: 0px auto;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .control-form label {
        margin-bottom: 5px;
        font-style: italic;
        display: block;
    }

    .control {
        color: #1b1b1b;
        background-color: rgb(212, 205, 205);
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom: 1px solid #1b1b1b;
        outline: none;
        padding: 8px;
        width: 100%;
    }

    .register-main {
        background-color: rgb(212, 205, 205);
        width: 470px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-color: #e4f0f3;
    }

    .btn-div {
        margin-top: 40px;
    }

    .section-register {
        height: 0%;
    }

    .title-register {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn-register {
        width: 100%;
        padding: 5px;
        font-size: 20px;
        border-radius: 35px;
        text-decoration: none;
        color: rgb(212, 205, 205);
        background-color: #ff0808;
        transition:
            background-color, 0.5s color, 0.5s;
    }
}  
