<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main>
                <section>
                    <h3>Establecer fechas para amigo secreto</h3>
                    <form action="/users/admin" method="post">
                        <input type="text" hidden name="id" value=<%=usuario.gerencias.id %>>
                        <div>
                            <label for="">Fecha de endulzada:</label>
                            <input class="fecha_endulzada" type="date" name="fecha_endulzada">
                        </div>
                        <div>
                            <label for="">Fecha de descubrimiento:</label>
                            <input class="fecha_descubrimiento" type="date" name="fecha_descubrimiento">
                        </div>
                        <div class="div-button">
                            <input class="btn" id="btn" type="submit" value="Guardar">
                        </div>
                    </form>
                </section> 
            </main>
        <script src="/js/perfil.js"></script>
    <script src="/js/cache.js"></script>
    </body>

</html>