
<!DOCTYPE html>
<html lang="en">

  <%- include("partials/head.ejs") %>
  
<body>
  <main>
    <section>
      <div>
        <h1>Bienvenido</h1>
        <div>
          <a href="/users/register">Crear cuenta</a>
        </div>
        <div>
          <a href="/users/login">Iniciar session</a>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
