<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/header.ejs") %>
      <main class="index-main">
        <section class="index-section">
          <div class="title-div">
            <h1 id="h1-index">Bienvenida/o</h1>
          </div>
          <% if (locals.isLogged) { %>
            <div class="div-index">
              <a class="index-a" href="/users/perfil">Perfil</a>
            </div>
          <% } else { %>  
            <div class="div-index">
              <a class="index-a" href="/users/register">Crear cuenta</a>
            </div>
            <div class="div-index">
              <a class="index-a" href="/users/login">Iniciar session</a>
            </div>
          <% } %>  
        </section>
      </main>
  <script src="/js/cache.js"></script>
    </body>

</html>