<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include("partials/header.ejs") %>

            <main id="login-main" class="login-main">
            <div class="title-login">
                <h2 class="h2-register">Ingresa a tu cuenta</h2>
            </div>
            <section class="section-login">
                <form action="/users/login" method="post">
                    <div class="control-form">
                        <label for="email">Correo electronico</label>
                        <input type="email" placeholder="Escribe tu email" class="control" name="email" id="email">
                        <%if (locals.errors && errors.email) {%>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="control-form">
                        <label for="password">contraseña</label>
                        <input type="password" placeholder="Escribe tu contraseña" class="control" name="contrasenia"
                            id="password">
                    </div>
                    <div class="div_login-button">
                        <input class="btn" id="btn-login" type="submit" value="Ingresar">
                    </div>
                    
                </form>
            </section>
            </main>
    </body>
</html>