<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>
    
<body>

    <section>
       <p>Bienvenido : <%= usuario.nombre %> </p>
       <p>Tu email: <%= usuario.email %> </p>
      <button class="btn">OPRIME AQUI</button>
      <div class="contenedorP"></div>
    </section>
    <p class="aleatorio1"><%= aleatorio1.nombre  %> </p>
    <script src="/js/perfil.js"></script>
</body>
</html>