<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>
    
<body>

    <section>
       <p>Bienvenido : <span class="nombreUsuario"><%= usuarios.nombre %></span> </p>
       <p>Tu email: <%= usuarios.email %> </p>
      <button class="btn">OPRIME AQUI</button>
      <div class="contenedorP"></div>
    </section>
    <% for( let i = 0; i < usuarios.length; i++ ) { %>
        <p class="nombres" hidden><%= usuarios[i].nombre  %> </p>
    <% } %>
    <p class="amigoSecreto"></p>
    <script src="/js/perfil.js"></script>
</body>
</html>