<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>
    
<body>

    <section>
       <p>Bienvenido : <%= usuario.nombre %> </p>
       <p>Tu email: <%= usuario.email %> </p>
       <% if (aleatorio1.nombre === usuario.nombre) { %>
        
       <% } %>
    </section>
    
</body>
</html>