<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>
    
<body>

    <section>
       <p>Bienvenido : <span class="nombreUsuario"><%= usuario.nombre %></span> </p>
       <p>Tu email: <%= usuario.email %> </p>
      <button class="btn">OPRIME AQUI</button>
      <div class="contenedorP"></div>
    </section>
    <% for( let i = 0; i < usuarios.length; i++ ) { %>
        <p class="nombres" hidden><%= usuarios[i].nombre  %></p>
    <% } %>
    <p class="amigoSecreto"></p>
    <% if (usuario.rolUsuario === 1) { %>
     <div>
        <h3>Establecer fechas</h3>
        <form action="" method="post">
        
            <label for="">Fecha de endulzada</label>
            <input type="date" name="fecha_endulzada">
            <label for="">Fecha de descubrimiento</label>
            <input type="date" name="fecha_descubrimiento">
            <input type="submit">
        
        </form>
     </div>
    <% } %>
    <script src="/js/perfil.js"></script>
</body>
</html>