<!DOCTYPE html>
<html lang="en">

  <%- include("partials/head.ejs") %>
  
<body>
    <% if (userLog) { %>
        <div>
          <a href="/users/perfil/<%= userLog.id %>">Ver perfil</a>
        </div>
      <% } %>
</body>
</html>