<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <form action="" method="POST">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="email">email:</label>
                <input type="email" id="email">
            </div>
            <div>
                <label for="password">contraseña:</label>
                <input type="password" id="password">
            </div>
            <div>
                <select name="zone" id="zone">
                    <option value="1">Recursos Humanos</option>
                    <option value="2">Produccion</option>
                    <option value="3">Logistica</option>
                </select>
            </div>
            <div>
                <button type="submit">Guardar y enviar</button>
            </div>
        </form>
    </section>
    
</body>
</html>