<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <form action="" method="POST">
            <div>
                <label for="name">Nombre:</label>
                <input name="nombre" type="text" id="name">
            </div>
            <div>
                <label for="email">email:</label>
                <input name="email" type="email" id="email">
            </div>
            <div>
                <label for="password">contraseña:</label>
                <input name="contrasenia" type="password" id="password">
            </div>
            <div>
                <select name="gerencia" id="gerencia" class="control">
                    <% for (let i=0; i < gerencias.length; i++) { %>
                        <option value="<%=gerencias[i].id%>">
                            <%=gerencias[i].tipoDeClima%>
                        </option>

                        <% } %>
                </select>
            </div>
            <div>
                <button type="submit">Guardar y enviar</button>
            </div>
        </form>
    </section>

</body>

</html>