<header class="header border-bottom border-danger">
    <div class="right-side">
        <p class="header-title">AmigoSecreto</p>
    </div>
    <div class="left-side">
        <a class="bars-click" href=""><i class="fas fa-user-circle"></i></a>
    </div>
</header>
